.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-90 {
    margin-bottom: 90px;
}
.max-900 {
    max-width: 900px;
}
.max-500 {
    max-width: 500px;
}
.ta-center {
    text-align: center;
}