<footer class="footer">
    <div class="footer__container">
        <div class="footer__blocks">
            <div class="footer__block">
                <p class="footer__title">Для компаний рынков НТИ:</p>
                <p class="footer__name">Виктория Огородникова</p>
                <a class="footer__contact" href="tel:+79194100550">+7 919 410 0550</a>
                <a class="footer__contact" href="mailto:v.ogorodnikova@amcult.ru">v.ogorodnikova@amcult.ru</a>
            </div>
            <div class="footer__block">
                <p class="footer__title">Контакты для СМИ:</p>
                <p class="footer__name">Оксана Власова</p>
                <a class="footer__contact" href="tel:+79262033147">+7 926 203 3147</a>
                <a class="footer__contact" href="mailto:pr.amcult@gmail.com">pr.amcult@gmail.com</a>
            </div>
            <div class="footer__block">
                <p class="footer__title">Координатор проекта</p>
                <p class="footer__name">Екатерина Денисенко</p>
                <a class="footer__contact" href="tel:+89194100550">8 800 101 1620</a>
                <a class="footer__contact" href="mailto:v.ogorodnikova@amcult.ru">coordinATOR@amcult.ru</a>
            </div>
            <div class="footer__block">
                <p class="footer__title">Руководитель проекта:</p>
                <p class="footer__name">Инна Прилежаева, исполнительный директор Ассоциации менеджеров культуры</p>
                <a class="footer__contact" href="tel:+89194100550">+7 919 410 0550</a>
                <a class="footer__contact" href="mailto:INNA-AMCULT@BK.ru">INNA-AMCULT@BK.ru</a>
            </div>
        </div>
        <div class="footer__footer">
            <p class="footer__copy">
                © НП «Профессиональное сообщество МК», 2022
            </p>
            <a href="vk.com" class="footer__href"><img src="assets/images/vk.svg" alt="" class="footer__logo"></a>
        </div>
    </div>
</footer>
